<div class="page-header">
  <h1>Home <small>Welcome to the Outward demo</small></h1>
</div>
<div class="jumbotron">
  <h1>Welcome!</h1>
  <p>This site has been accessed. {{ requestCount }} time(s)
  </p>

</div>